.obsidian/workspace.json

.obsidian/workspaces.json

.obsidian/workspace-mobile.json# 系统与临时文件

.DS_Store

Thumbs.db

*.tmp

~$*#忽略缓存文件

.obsidian/cache# 可选：不想同步的缓存/回收站

.trash/#其他不建议同步的文件

.obsidian/daily-notes.json

.obsidian/facets.json

.obsidian/starred.json